.footer_home {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  .img_footer_left {
    position: absolute;
    background-image: url(/img/UI/footer_monsters_left.png);
    width: 26vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0.5vw;
    image-rendering: pixelated;
    background-position: center;
    will-change: transform;
  }
  .img_footer_right {
    position: absolute;
    background-image: url(/img/UI/footer_monsters_right.png);
    width: 26vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0.5vw;
    image-rendering: pixelated;
    background-position: center;
    will-change: transform;
  }

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,20%);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
