.footer_home {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  .img_footer_left {
    position: absolute;
    background-image: url(/img/UI/footer_monsters_left.png);
    width: 26vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0.5vw;
    image-rendering: pixelated;
    background-position: center;
    will-change: transform;
  }
  .img_footer_right {
    position: absolute;
    background-image: url(/img/UI/footer_monsters_right.png);
    width: 26vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0.5vw;
    image-rendering: pixelated;
    background-position: center;
    will-change: transform;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
    img {
      image-rendering:pixelated;
      width: 100%;
      height: 100%;
      object-fit: contain;
      animation: titlemove 1.4s ease-in-out infinite alternate;
    }
  }

  .cont_footer_info {
    position: absolute;
    width: 50%;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    gap: 4rem;
    color: var(--white-color);
    .section_footer {
      flex: 1;
      font-size: 0.95rem;
      .section_footer_title {
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }
      p {
        line-height: 1.7rem;
      }
    }

    .section_footer:last-child {
      p {
        a {
          text-decoration: none;
          color: #ff170f;
          transition: 0.1s;
          &:hover {
            color: rgb(255, 147, 147);
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@keyframes titlemove {
  to {
    transform: translateY(4%);
  }
  from {
    transform: translateY(0%);
  }
}
