.cont_pixel{
    position: absolute;
    z-index: 1;
    .pixel{
        background-repeat: no-repeat;
        position: absolute;
        image-rendering: pixelated; 
        z-index: 2;
        background-position: bottom;
    }
    .shadow_pixel{
        background-repeat: no-repeat;
        position: absolute;
        image-rendering: pixelated;
        z-index: 1;
        left: 0;
        right: 0;
        margin: auto;
    }
}


