.intro{
    position:fixed;
    z-index: 1001;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    video{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1000;
    }
    
    .intro_play{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 0.4rem;
        position: absolute;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        z-index: 1001;
        transition: 0.7s all;
        .intro__playimg{
            width: 200px;
            height: 100px;
            background-image: url(/img/Head/head_isaac.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transition: 0.2s;
            transition-delay: 0.1s;
        }

        .intro__playbtn{
            position: relative;
            display: flex;
            max-width: 800px;
            width: 100%;
            max-height: 68px;
            height: 100%;
            justify-content: center;
            align-items: center;
            button{
                position: relative;
                z-index: 1002;
                font-family: "Pixel_I";
                font-size: 2.6rem;
                letter-spacing: 0.1rem;
                cursor: pointer;
                color: black;
                background-color: transparent;
                border: none;
                transition: 0.2s ease;
                transition-delay: 0.05s;
                &:hover{
                    color: white;
                    ~ .titleui{
                        right: 180%;
                        left: -180%;
                        transform: translateX(180%);
                        opacity: 1;
                    }
                }
            }
            .titleui{
                top: 7px;
                right: -180%;
                opacity: 0;
                position: absolute;
                z-index: 1001;
                width:100%;
                height: 100%;
                transition: 0.3s cubic-bezier(.75,-0.24,.35,1.24);
                img{
                    width: 100%;
                }
            }
        }

    }

    .btn_skip{
        position: absolute;
        z-index: 1000;
        bottom: 50px;
        right: 0px;
        background-image: url(/img/UI/title_right_strike.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        width: 350px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;   
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            transform:translateX(5%) !important;
        }
        
        button{
            width: 190px;
            font-family: 'Tempesta';
            font-weight: bold;
            color: white;
            font-size: 1.4rem;
            text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px 2px 2px rgba(0,0,0,0);
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            object-fit: contain;
        }      
    }
}

.container_home{
    background-color: #ffffff;
}