.intro{
    position:fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    & video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1000;
    }
    
    & .intro_play{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 1.2rem;
        position: absolute;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        z-index: 1001;
        transition:1s all;

        .intro__play__gif{
            width: 8rem;
        }

        .intro__play__btn{
            position: relative;
            & button{
                position: relative;
                z-index: 1002;
                font-family: "Isaac";
                font-size: 2.2rem;
                letter-spacing: 0.1rem;
                cursor: pointer;
                background-color: transparent;
                border: none;
                transition: 0.2s;
                
                &:hover{
                    color: var(--primary-color);
                    background-image: url(/img/UI/featured.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &:hover .intro__play__gif{
                    opacity: 1;
                }
            }
            .intro__play__btn__gif{
                opacity: 0;
                z-index: 1001;
                position: absolute;
                width: 740px;
                height: 80px;
                top: -8px;
                left: -250px;
                
            }
        }
        
    }
}
