header {
  width: fit-content;
  height: 100vh;
  top: 0;
  z-index: 90;
  position: fixed;
  display: flex;
  .cont_header {
    width: 20vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav {
      width: 100%;
      height: 48%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .nav_btn {
        width: 50%;
        flex: 1;
        text-align: center;
        display: inline-block;
        white-space: nowrap;
        a {
          width: 100%;
          height: 100%;
          color: var(--white-color);
          display: flex;
          align-items: center;
          text-decoration: none;
          font-size: 1rem;
          img {
            object-fit: contain;
            width: 25%;
            margin-right: 1rem;
          }
          span {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              right: 0;
              bottom: -0.3rem;
              width: 0%;
              height: 2px;
              background-color: var(--white-color);
              transition: 0.25s all;
            }
          }
          &:hover {
            span::after {
              left: 0;
              right: inherit;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .btn_header {
    cursor: pointer;
    width: 8vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    user-select: none;
    .btn_header_animation {
      width: 50%;
      transform: rotate(0deg);
      transition: 0.3s;
      img {
        position: relative;
        image-rendering: pixelated;
        will-change: transform;
        width: 100%;
        animation: move_btn_header 0.3s ease-in-out infinite alternate;
        animation-play-state: paused;
        animation-fill-mode: backwards;
        display: flex;
      }
    }
    &:hover {
      .btn_header_animation {
        transform: rotate(0deg);
      }
      img {
        animation-play-state: running;
      }
    }
  }
  .black_shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 120vw;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
    z-index: -1;
  }
}

@keyframes move_btn_header {
  from {
    transform: translateX(4%);
  }
  to {
    transform: translateX(-4%);
  }
}
