header{
    position: sticky;
    top: 0;
    z-index: 90;
    background-color: var(--background-color);
    transition: 0s all linear ;
}

.header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    font-size: 0.9rem;
    .nav_btn{
        position: relative;
        a{
            position: relative;
            display: flex;
            align-items: center;
            z-index: 1;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            transition: 0.2s;
            margin-left: 40px;
            &::before{
                margin: auto;
                content: "";
                position: absolute;
                height: 2px;
                background-color: aliceblue;
                width: 0%;
                bottom: -6px;
                left: 0;
                right: 0;
                width: 0%;
                transition: 0.2s;
            }
            &:hover{
                &::before{
                    width: 100%;
                } 
            }
            img{
                position: absolute;
                width: 40px;
                left: -45px;
                transition: 0.2s;
            }
        }
        &:nth-child(4){
            cursor: pointer;
            image-rendering: pixelated;
            min-width: 65px;
            width: 65px;
            height:65px;
            display: flex;
            background-image: url(/img/nav/head_isaac_spin.png);
            background-size: auto 100%;
            background-repeat: no-repeat;
            animation: spin 0.40s steps(4) infinite;
            animation-play-state: paused;
            &:hover{
                animation-play-state: running; 
            }
        }
    }



}
@keyframes spin {
    from { background-position: 0 0; }
    to { background-position: -260px 0; }
}