.container_s {
  position: relative;
  margin-top: 5rem;
  .sticky {
    width: 100vw;
    min-height: calc(100vw * 11 / 17);
    position: sticky;
    top: calc(-15.2% + 100px);
    overflow: hidden;
  }
}
