.cont_carousel {
  position: absolute;
  top: 47%;
  left: 50%;
  width: calc(7vw * 1.5);
  height: calc(8.6vw * 1.4);
  background-position: center;
  z-index: 3;
  transform: translate(-50%, -50%);
  .cont_characters {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    .character {
      position: relative;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      image-rendering: pixelated;
      will-change: transform;
      z-index: 2;
    }
    .shadow_pixel {
      position: absolute;
      width: 5vw;
      height: 2.5vw;
      background-image: url(/img/shadows/pixel/shadow_character.png);
      background-repeat: no-repeat;
      background-size: calc(5vw * 2) auto;
      background-position: -5vw center;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    .items_characters{
      display: flex;
      width: fit-content;
      justify-content: center;
      gap: 5.5vw;
      align-items: end; 
      position: absolute;
      height: 11vw;
      bottom: -90%;
      .position_item {
        position: relative;
        width: 6vw;
        height:11vw;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        .cont_item_name {
          position: absolute;
          z-index: 2;
          min-width: 8vw;
          width: fit-content;
          white-space: nowrap;
          min-height: 5vw;
          height: 5vw;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          bottom:-45%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.6rem;
          font-weight: bold;
          color: #FFFFFF;
          text-shadow: 2px 2px 5px black;
          image-rendering: pixelated;
          pointer-events: none;
          will-change: transform;
          .item_name {
            position: relative;
            bottom: 6.5px;
          }
        }
      }
    }

    .cont_text{
      position: relative;
      width: 6vw;
      height: 11vw;
      will-change: transform;
      cursor: default;
      .text {
        position: absolute;
        left: -50%;
        top: 0;
        bottom: 0;
        width: 12vw;
        min-height: 6vw;
        color: #f7bf91;
        font-size: 2.5rem;
        text-align: center;
        font-family: var(--font-pixel);
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px #130e0c, 0px 5px 3px #110d0a;
      }
    }

  }
}

.title_name_character{
  position: absolute;
  top: -60%;
  background-image: url(../../../../../public/img/UI/title_streak.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 42vw;
  height: 5vw;
  max-width: 790px;
  max-height: 85px;
  display: flex;
  justify-content: center;
  z-index: -1;
  .name_character{
    position: absolute;
    color: white;
    font-family: var(--font-pixel);
    font-size: 3rem;
    bottom: 30%;
  }
}

.btn_left {
  position: absolute;
  width: 6.8vw;
  height: 4vw;
  top: 50.5%;
  left: 38.6%;
  transform: translate(-50%, -50%);
  background-image: url(/img/obstacles/pressure_plates_left.png);
  background-repeat: no-repeat;
  background-size: calc(6.8vw * 2) auto;
  background-position: 0%;
  cursor: pointer;
  z-index: 2;
}

.btn_right {
  position: absolute;
  width: 6.8vw;
  height: 4vw;
  top: 50.5%;
  right: 38.4%;
  transform: translate(50%, -50%);
  background-image: url(/img/obstacles/pressure_plates_right.png);
  background-size: calc(6.8vw * 2) 100%;
  background-position: 0%;
  cursor: pointer;
  z-index: 2;
}

.btn_tainted {
  position: absolute;
  width: 6.2vw;
  height: 4vw;
  top: 42%;
  right: 32.2%;
  transform: translate(50%, -50%);
  background-image: url(/img/obstacles/pressure_plates_tainted.png);
  background-size: calc(6.2vw * 2) 100%;
  background-position: 0%;
  cursor: pointer;
  z-index: 2;
}


.cont_pixel_bg{
  position: absolute;
}

.bg_shadow_tainted{
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.32)0%,rgba(0, 0, 0,0 )50%,rgb(0, 0, 0, 0.32)100%),linear-gradient(0deg,rgba(0, 0, 0,  0.32)0%,rgba(0, 0, 0, 0)50%,rgb(0, 0, 0 , 0.32)100%);
}