:root {
  --background-color: black;
  --primary-color:red;
  --text-card: #77695a;
}

@font-face{
  font-family: 'Pixel_I';
  src: url(/fonts/upheavtt.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Tempesta';
  src: url(/fonts/tempesta.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Tempesta';
  src: url(/fonts/tempestabold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tempesta";
  font-weight: normal;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  
}

html{
  margin: 0;
  padding: 0;
  scroll-behavior:smooth;
  background-color: #000000;
}

* { box-sizing: border-box; }

html::-webkit-scrollbar{
  background-color: #000000;
  width: 6px;
  max-width: 6px;
}

html::-webkit-scrollbar-thumb{
  background-color: #7c4636;
  border-radius: 50px;
}