:root {
  --background-color: #0a0a0a;
  --primary-color:red;
}

@font-face{
  font-family: 'Pixel_I';
  src: url(/fonts/upheavtt.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}