:root {
  --background-color: black;
  --primary-color:red;
}

@font-face{
  font-family: 'Pixel_I';
  src: url(/fonts/upheavtt.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Tempesta';
  src: url(/fonts/tempesta.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Tempesta';
  src: url(/fonts/tempestabold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tempesta";
  font-weight: normal;
  background-color: white;
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  background-color: #161616;
  width: 6px;
  max-width: 6px;
}

html::-webkit-scrollbar-thumb{
  background-color: #cecece;
  border-radius: 50px;
}