.banner{
    image-rendering: pixelated;
    background-color: aqua;
    width:100%;

    .scene{
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: calc(100vw * 2 / 3);
        background-image: url(/img/nav/room.png);
        background-size:contain;
        background-position: center;

        .container_banner{
            position: relative;
            width: 50%;
            top: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .logo{
                background-color: antiquewhite;
                width: 100%;
                max-width: 800px;
                img{
                    display: block;
                    margin: auto;
                    width: 100%;
                }
            }
            .text{
                font-size: 1.1rem;
                width: 50%;
                text-align: center;
                color: white;
            }
        }
        
    }


}
